In [24]:
# powershell -ExecutionPolicy ByPass -c "irm https://astral.sh/uv/install.ps1 | iex"
# UV Asrao مدیریت بسته ها و محیط های مجازی پایتون

In [25]:
# https://docs.astral.sh/uv/guides/install-python/

In [20]:
from dotenv import load_dotenv
import os

load_dotenv()  # فایل env باید درکنار فایل پایتون باشد

import psycopg2

DB_USER = os.getenv("POSTGRES_USER")  # برای مخفی کردن یوزرنیم و پسورد دیتابیس
DB_PASSWORD = os.getenv("POSTGRES_PASSWORD")

In [21]:
import os

print("USER:", os.getenv("POSTGRES_USER"))
print("PASS:", repr(os.getenv("POSTGRES_PASSWORD")))

USER: postgres
PASS: 'Reza@1981'

In [22]:
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column
from sqlalchemy import Integer, String
from sqlalchemy.orm import (
    Session,
)  #  حتما برای دیدن جدول جدید برروی جدول در پی جی ادمین رفته و رایت کلیک کنید و Refresh را بزنید
from sqlalchemy import create_engine
from urllib.parse import quote


#  استفاده از ORM برای حذف استفاده از SQL هنگام کاربا پایتون
# --- Base class ---
class Base(DeclarativeBase):
    pass


# --- Model ---
class Student(Base):
    __tablename__ = "student1"

    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    name: Mapped[str] = mapped_column(String)
    school_name: Mapped[str] = mapped_column(String)
    score: Mapped[int] = mapped_column(Integer)


DB_PASSWORD_ENCODED = quote(DB_PASSWORD)  # Encode کردن پسورد به دلیل وجود @

engine = create_engine(
    f"postgresql://{DB_USER}:{DB_PASSWORD_ENCODED}@localhost:5432/postgres", echo=True
)


# --- Create tables ---
Base.metadata.create_all(engine)


# --- Insert & query ---
with Session(engine) as session:
    s1 = Student(name="John Doe", school_name="School A", score=85)
    s2 = Student(name="Jane Doe", school_name="School B", score=90)

    session.add_all([s1, s2])
    session.commit()

    all_students = session.query(Student).all()
    print(all_students)

2025-12-08 20:36:55,919 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-08 20:36:55,921 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-08 20:36:55,924 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-08 20:36:55,925 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-08 20:36:55,927 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-08 20:36:55,928 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-08 20:36:55,941 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 20:36:55,954 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-12-08 20:36:55,957 INFO sqlalchemy.engine.Engine [generated in 0.00336s] {'table_name': 'student1', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-12-08 20:36:55,968 INFO sqlalchemy.engine.Engine COMMIT
2025-12-08 20:36:55,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 20:36:55,980 INFO sqlalchemy.engine.Engine INSERT INTO student1 (name, school_name, score) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(name__0)s, %(school_name__0)s, %(score__0)s, 0), (%(name__1)s, %(school_name__1)s, %(score__1)s, 1)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING student1.id, student1.id AS id__1
2025-12-08 20:36:55,981 INFO sqlalchemy.engine.Engine [generated in 0.00010s (insertmanyvalues) 1/1 (ordered)] {'name__0': 'John Doe', 'score__0': 85, 'school_name__0': 'School A', 'name__1': 'Jane Doe', 'score__1': 90, 'school_name__1': 'School B'}
2025-12-08 20:36:55,987 INFO sqlalchemy.engine.Engine COMMIT
2025-12-08 20:36:55,992 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-08 20:36:55,994 INFO sqlalchemy.engine.Engine SELECT student1.id AS student1_id, student1.name AS student1_name, student1.school_name AS student1_school_name, student1.score AS student1_score
FROM student1
2025-12-08 20:36:55,996 INFO sqlalchemy.engine.Engine [generated in 0.00163s] {}
[<__main__.Student object at 0x00000256DF532960>, <__main__.Student object at 0x00000256DF532930>, <__main__.Student object at 0x00000256DF531880>, <__main__.Student object at 0x00000256DF532090>, <__main__.Student object at 0x00000256DF5329C0>, <__main__.Student object at 0x00000256DF5329F0>, <__main__.Student object at 0x00000256DD99B3B0>, <__main__.Student object at 0x00000256DD88EE10>]
2025-12-08 20:36:56,002 INFO sqlalchemy.engine.Engine ROLLBACK

In [27]:
x: int = 5  # type hinting

x = 2.3