In [28]:
import sys
print(sys.executable)

c:\Users\Reza\OneDrive\Desktop\AP\S5\.myenv5\Scripts\python.exe

In [27]:
import psycopg2
print("OK")

OK

In [9]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="Reza@1981"
)

In [7]:
cur = conn.cursor()
cur.execute("SELECT * FROM student;")
print(cur.fetchall())
cur.close()
conn.close()

[(2, 'Reza', 'UCLA', 110), (1, 'ali', 'Tehran University', 105), (3, 'alireza', 'kntu', 50), (4, 'alireza', 'kntu', 120), (5, 'hasan', 'MIT', 125), (7, 'taghi', None, 88)]

In [8]:
def select_all_students():

    conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="Reza@1981")
    cur = conn.cursor()
    
    cur.execute("SELECT * FROM student;")

    return cur.fetchall()

print(select_all_students())

[(2, 'Reza', 'UCLA', 110), (1, 'ali', 'Tehran University', 105), (3, 'alireza', 'kntu', 50), (4, 'alireza', 'kntu', 120), (5, 'hasan', 'MIT', 125), (7, 'taghi', None, 88)]

In [17]:
def insert_student(name, schoolname, score):

    conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="Reza@1981")
    cur = conn.cursor()

    # cur.execute(f"insert into student (name, schoolname, score) values ({name}, {schoolname}, {score});", )  # روش آسیب پذیر نسبت به SQL Inlection 
    cur.execute("insert into student (name, schoolname, score) values ( %s, %s, %s);", (name, schoolname, score))   # روش مطمئن تر با استفاده از پارامترها

    conn.commit()
    cur.close() 
    conn.close()

In [20]:
insert_student("kabir", "MYX", 55)

In [22]:
print(select_all_students())

[(5, 'mohammad', 'TUT', 50), (3, 'reza', 'JDC', 115), (2, 'hasan', 'MIT', 105), (1, 'ali', 'FTU', 60), (6, 'karim', 'PLS', 120), (14, 'Ali', 'High School', 85), (15, 'kabir', 'MYX', 55)]

In [25]:
def update_student(id, name, schoolname, score):

    conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="Reza@1981")
    cur = conn.cursor()

    cur.execute("UPDATE student SET name = %s, schoolname = %s, score = %s WHERE id = %s;", (name, schoolname, score, id))

    conn.commit()
    cur.close() 
    conn.close()

In [27]:
update_student(1,"John", "MDE", 85)
print(select_all_students())

[(5, 'mohammad', 'TUT', 50), (3, 'reza', 'JDC', 115), (2, 'hasan', 'MIT', 105), (6, 'karim', 'PLS', 120), (14, 'Ali', 'High School', 85), (15, 'kabir', 'MYX', 55), (1, 'John', 'MDE', 85)]

In [28]:
def delete_student(id):

    conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="Reza@1981")
    cur = conn.cursor()

    cur.execute("DELETE FROM student WHERE id = %s;", (id,))

    conn.commit()
    cur.close() 
    conn.close()

In [29]:
delete_student(2)

In [ ]:
def get_student_by_id(id):
    conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="Reza@1981")
    cur = conn.cursor()

    cur.execute("SELECT * FROM student WHERE id = %s;", (id,))

    return cur.fetchone()  # برای بازیابی فقط یک رکورد

In [32]:
print(get_student_by_id(3))

(3, 'reza', 'JDC', 115)

In [33]:
def filter(name = None, schoolname = None , score = None):

    conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="Reza@1981")
    cur = conn.cursor()

    cur.execute("SELECT * FROM student WHERE name = %s AND schoolname = %s AND score = %s;", (name, schoolname, score))

    return cur.fetchall()

In [39]:
print(filter('reza','JDC',115))

[(3, 'reza', 'JDC', 115)]

In [ ]:
# استفاده از دکوراتورها

In [73]:
def db_decorator(func):
    def wrapper(*args,**kwargs):
          conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="Reza@1981")
          cur = conn.cursor()
          query = func(*args,**kwargs) # خروجی به صورت تاپل میدهد که یکی کوئری ئ دیگرای 
          cur.execute(*query)  # آنپک کردن تاپل
          result = cur.fetchall()
          cur.close() 
          conn.close()
          return result
    return wrapper

@db_decorator
def select_all_students1():    
    return ("SELECT * FROM student;",()) # خروجی به صورت تاپل میدهد که یکی کوئری , دیگری برای پارمترهای آن است 

    
print(select_all_students1())

[(5, 'mohammad', 'TUT', 50), (3, 'reza', 'JDC', 115), (6, 'karim', 'PLS', 120), (14, 'Ali', 'High School', 85), (15, 'kabir', 'MYX', 55), (1, 'John', 'MDE', 85)]

In [ ]:
#########################################################################################

In [29]:
def db_decorator(func):
    def wrapper(*args, **kwargs):
        conn = psycopg2.connect(host="localhost", database="postgres", user=DB_USER, password=DB_PASSWORD)
        cur = conn.cursor()
        query_dict = func(*args, **kwargs)
        query = query_dict["query"]
        mod = query_dict["mod"]
        cur.execute(*query)
        if mod == "commit":
            conn.commit()
            result=None
        elif mod == "fetchall":
            result = cur.fetchall()
        elif mod == "fetchone":
            result = cur.fetchone()
        else:
            raise ValueError(f"Invalid mode: {mod}")
        cur.close()
        conn.close()
        return result
    return wrapper

In [30]:
@db_decorator
def select_all_students2():
    return {"query": ("SELECT * FROM student;",), "mod": "fetchall"}

In [31]:
print(select_all_students2())

[(5, 'mohammad', 'TUT', 50), (6, 'karim', 'PLS', 120), (14, 'Ali', 'High School', 85), (15, 'kabir', 'MYX', 55), (18, 'John Doe3', 'School D', 54)]

In [32]:
import os

print("USER:", os.getenv("POSTGRES_USER"))
print("PASS:", repr(os.getenv("POSTGRES_PASSWORD")))

USER: postgres
PASS: 'Reza@1981'

In [93]:
@db_decorator
def insert_student2(name, schoolname, score):
    return {"query": ("INSERT INTO student (name, schoolname, score) VALUES (%s, %s, %s);", (name, schoolname, score)), "mod": "commit"}

In [96]:
insert_student2("John Doe3", "School D", 54)

In [113]:
@db_decorator
def update_student2(id, name, schoolname, score):
    return {"query": ("UPDATE student SET name = %s, schoolname = %s, score = %s WHERE id = %s;", (name, schoolname, score, id)), "mod": "commit"}

In [ ]:
update_student2(1, "mohammad reza", "ut", 80)

In [112]:
@db_decorator
def delete_student2(id):
    return {"query": ("DELETE FROM student WHERE id = %s;", (id,)), "mod": "commit"}

In [115]:
delete_student2(20)

In [111]:
@db_decorator
def get_student_by_id2(id):
    return {"query": ("SELECT * FROM student WHERE id = %s;", (id,)), "mod": "fetchone"}

In [ ]:
print(get_student_by_id2(6))

(6, 'karim', 'PLS', 120)

In [7]:
from dotenv import load_dotenv
import os
load_dotenv()  # همه متتغیرهای محیطی را از فایل .env بارگذاری می‌کند

True

In [8]:
DB_USER = os.getenv("POSTGRES_USER")  # برای مخفی کردن یوزرنیم و پسورد دیتابیس  
DB_PASSWORD = os.getenv("POSTGRES_PASSWORD")

In [9]:
import os

print("USER:", os.getenv("POSTGRES_USER"))
print("PASS:", repr(os.getenv("POSTGRES_PASSWORD")))

USER: postgres
PASS: 'Reza@1981'

In [132]:
###################################################### ORM [Object Relational Mapping   ]

In [ ]:
# from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column
# from sqlalchemy import Integer, String

# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine


# class Base(DeclarativeBase):
#     pass

# class Student(Base):
#     __tablename__ = "student1"

#     id: Mapped[int] = mapped_column(Integer, primary_key=True)
#     name: Mapped[str] = mapped_column(String)
#     school_name: Mapped[str] = mapped_column(String)
#     score: Mapped[int] = mapped_column(Integer)

In [34]:
## اتصال کلاس  به دیتابیس

In [ ]:
# # engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@localhost:5432/postgres", echo=True)

# from urllib.parse import quote

# # Encode کردن پسورد به دلیل وجود @
# DB_PASSWORD_ENCODED = quote(DB_PASSWORD)

# engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD_ENCODED}@localhost:5432/postgres", echo=True)

In [11]:
# Base.metadata.create_all(engine)

# with Session(engine) as session:
#     s1 = Student(name="John Doe", school_name="School A", score=85)
#     s2 = Student(name="Jane Doe", school_name="School B", score=90)
#     session.add_all([s1, s2])
#     session.commit()

#     all_students = session.query(Student).all()
#     print(all_students)

In [5]:
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column
from sqlalchemy import Integer, String
from sqlalchemy.orm import Session  #  حتما برای دیدن جدول جدید برروی جدول در پی جی ادمین رفته و رایت کلیک کنید و Refresh را بزنید
from sqlalchemy import create_engine
from urllib.parse import quote

#  استفاده از ORM برای حذف استفاده از SQL هنگام کاربا پایتون 
# --- Base class ---
class Base(DeclarativeBase):
    pass


# --- Model ---
class Student(Base):
    __tablename__ = "student1"

    id: Mapped[int] = mapped_column(Integer, primary_key=True)
    name: Mapped[str] = mapped_column(String)
    school_name: Mapped[str] = mapped_column(String)
    score: Mapped[int] = mapped_column(Integer)


DB_PASSWORD_ENCODED = quote(DB_PASSWORD) # Encode کردن پسورد به دلیل وجود @

engine = create_engine(
    f"postgresql://{DB_USER}:{DB_PASSWORD_ENCODED}@localhost:5432/postgres",
    echo=True
)


# --- Create tables ---
Base.metadata.create_all(engine)


# --- Insert & query ---
with Session(engine) as session:
    s1 = Student(name="John Doe", school_name="School A", score=85)
    s2 = Student(name="Jane Doe", school_name="School B", score=90)

    session.add_all([s1, s2])
    session.commit()

    all_students = session.query(Student).all()
    print(all_students)

2025-12-05 11:49:57,721 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-12-05 11:49:57,723 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-05 11:49:57,726 INFO sqlalchemy.engine.Engine select current_schema()
2025-12-05 11:49:57,728 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-05 11:49:57,730 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-12-05 11:49:57,731 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-05 11:49:57,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-05 11:49:57,744 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-12-05 11:49:57,746 INFO sqlalchemy.engine.Engine [generated in 0.00219s] {'table_name': 'student1', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-12-05 11:49:57,756 INFO sqlalchemy.engine.Engine COMMIT
2025-12-05 11:49:57,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-05 11:49:57,767 INFO sqlalchemy.engine.Engine INSERT INTO student1 (name, school_name, score) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(name__0)s, %(school_name__0)s, %(score__0)s, 0), (%(name__1)s, %(school_name__1)s, %(score__1)s, 1)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING student1.id, student1.id AS id__1
2025-12-05 11:49:57,769 INFO sqlalchemy.engine.Engine [generated in 0.00030s (insertmanyvalues) 1/1 (ordered)] {'score__0': 85, 'school_name__0': 'School A', 'name__0': 'John Doe', 'score__1': 90, 'school_name__1': 'School B', 'name__1': 'Jane Doe'}
2025-12-05 11:49:57,775 INFO sqlalchemy.engine.Engine COMMIT
2025-12-05 11:49:57,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-05 11:49:57,792 INFO sqlalchemy.engine.Engine SELECT student1.id AS student1_id, student1.name AS student1_name, student1.school_name AS student1_school_name, student1.score AS student1_score
FROM student1
2025-12-05 11:49:57,794 INFO sqlalchemy.engine.Engine [generated in 0.00207s] {}
[<__main__.Student object at 0x000002146AE9E3C0>, <__main__.Student object at 0x000002146AE9E390>, <__main__.Student object at 0x0000021469FD2CF0>, <__main__.Student object at 0x000002146AD56EA0>]
2025-12-05 11:49:57,799 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
# https://neon.com/postgresql/postgresql-getting-started/postgresql-sample-database  نمونه دیتابیس